*{
    
  box-sizing: border-box;
}
html{
    scroll-behavior: smooth
}
body{
    width: 100%;

    background-color:#202426;
    font-family:'Poppins', sans-serif;
 scroll-behavior: smooth;

  
 
}
.dropdown-menu{
    color:white;
}

.c-item{
    height:480px;
}

.c-img{
    height: 100%;
    object-fit:cover;
    filter:brightness(0.6);

}

.ownTopic{
    position: absolute;
    padding-top: 5rem;
    color:#e91e63;
}






